* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  background: #fff;
}

form, .box{
  width: 72%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 10px;
  border-radius: 10px;
  background: #7500b9;
  color: #fff;
  box-shadow:
    10px,
    10px,
    30px rgba(0, 0, 0, 1);
}

input {
  outline: none;
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: start;
  align-items: start;
  height: 32px;
  padding: 0px 10px;
  border-radius: 6px;
}

input[type="submit"] {
  cursor: pointer;
  background: #03ffd5;
  color: #121212;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-itmes: center;
  padding: 10px;
  background: #03ffd5;
  color: #121212;
  font-weight: bold;
}

table {
  width: 40%;
  max-width: 540px;
  border-radius: 10px;
  background: #7500b9;
  color: #fff;
  box-shadow:
    10px,
    10px,
    30px rgba(0, 0, 0, 1);
  overflow: hidden;
  border-collapse: collapse;
}

th,
td {
  width: 100px;
  height: 60px;
  padding: 0px 20px;
  text-align: left;
}

th {
  border-bottom: 1px solid #fff;
  color: #03ffd5;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 6px;
  background: #ff000021;
  color: #00000081;
  font-size: 14px;
}

.text-center{
  align-items: center;
  text-align: center;
}

.bigtext{
  font-size: 40px;
  font-weight: bold;
}
